* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
}

body {
  padding: 1.6rem;
  font-family: "Outfit", system-ui, sans-serif;
  background-color: hsl(212, 45%, 89%);
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  gap: 1rem;
}

.container {
  max-width: 20rem;
  padding: 1.6rem 1.6rem 4rem 1.6rem;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  margin: 0rem auto;
}

.img-texts-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.qr-code-img {
  display: block;
  height: auto;
  max-width: 100%;
  border-radius: 10px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 0rem 1.6rem 0rem 1.6rem;
}

.title {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 1.375rem;
  line-height: 120%;
}

.text {
  color: hsl(216, 15%, 48%);
  font-size: 0.9375rem;
  line-height: 140%;
  letter-spacing: 0.02rem;
}

.attribution {
  font-size: 1.1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
