* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  padding: calc((16 / 16) * 1rem);
  font-family: "Outfit", system-ui, sans-serif;
  background-color: hsl(212, 45%, 89%);
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
  gap: calc((16 / 16) * 1rem);
}

.container {
  max-width: calc((320 / 16) * 1rem);
  padding-top: calc((16 / 16) * 1rem);
  padding-right: calc((16 / 16) * 1rem);
  padding-bottom: calc((40 / 16) * 1rem);
  padding-left: calc((16 / 16) * 1rem);

  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0rem auto;
}

.img-texts-container {
  display: flex;
  flex-direction: column;
  gap: calc((24 / 16) * 1rem);
}

.qr-code-img {
  display: block;
  height: auto;
  max-width: 100%;
  border-radius: 10px;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: calc((16 / 16) * 1rem);
  padding-top: calc((0 / 16) * 1rem);
  padding-right: calc((16 / 16) * 1rem);
  padding-bottom: calc((0 / 16) * 1rem);
  padding-left: calc((16 / 16) * 1rem);
}

.title {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: calc((22 / 16) * 1rem);
  line-height: 120%;
}

.text {
  color: hsl(216, 15%, 48%);
  font-size: calc((15 / 16) * 1rem);
  line-height: 140%;
  letter-spacing: calc((0.2 / 16) * 1rem);
}

.attribution {
  font-size: 1.1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
